.sectionPlan {
    padding: 150px 0;
    background-image: url('../img/bgPlan.webp');

    @media(max-width:767px) {
        padding: 75px 0;
    }
}

.plan {
    &__title {
        display: block;
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
    }

    &__body {
        margin-top: 80px;

        @media(max-width:767px) {
            margin-top: 40px;
        }
    }
}

.planItem__li {
    padding-left: 24px;
}

.planItem__li_file,
.planItem__li_video {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 3px;
        width: 18px;
        height: 18px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

.planItem__li_file {
    &::before {
        background-image: url('../img/iconFile.svg');
    }
}

.planItem__li_video {
    &::before {
        background-image: url('../img/iconVideo.svg');
    }
}


.planContent {
    margin-top: 20px;
    display: flex;
    gap: 40px;

    @media(max-width:767px) {
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        width: 100%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &:first-child {
            @media(max-width:767px) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        @media(max-width:767px) {
            max-width: 100%;
            gap: 0;
        }
    }

    &__h5 {
        font-family: var(--third-family);
        font-weight: 300;
        font-size: 35px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #353535;

        @media(max-width:767px) {
            font-size: 22px;
        }
    }

    &__ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__li {
        position: relative;
        padding-left: 20px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #353535;

        @media(max-width:767px) {
            font-size: 16px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 10px;
            left: 4px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #353535;
        }
    }

    &__img {
        display: block;
        object-fit: cover;
        background-position: 50% 50%;
        border-radius: 10px;
        max-height: 544px;
        margin-top: auto;

        @media(max-width:767px) {
            display: none;
        }
    }
}

.planContentCard {
    background: #fffdf9;
    border: 1px solid #b8ae95;
    border-radius: 10px;
    padding: 20px;

    &__header {
        display: flex;
        align-items: center;
        @media(max-width:767px) {
            flex-direction: column;
        }
    }

    &__forWho {
        margin-left: 10px;
        font-family: var(--third-family);
        font-style: italic;
        font-weight: 300;
        font-size: 24px;
        color: #4f5d4e;
    }

    &__h6 {
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #4b594a;

        @media(max-width:767px) {
            margin-top: 14px;
        }
    }

    &__ul {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__li {
        position: relative;
        padding-left: 24px;

        @media(max-width:767px) {
            font-size: 14px;
        }
    }
}



.planContentCard_dark {
    background-color: #344033;
    color: #FFF5F0;

    .planContentCard__h6,
    .planContentCard__forWho,
    .planContent__h5 {
        color: #FFF5F0;
    }



    .planItem__li_file {
        &::before {
            background-image: url('../img/iconFile_fff.svg');
        }
    }

    .planItem__li_video {
        &::before {
            background-image: url('../img/iconFile_fff.svg');
        }
    }
}



.accordion__item_12 {
    .accordion__num {
        background: linear-gradient(126deg, #edeae4 0%, #efebe0 49.26%, #c0bcb3 100%);
        color: #353535;
    }
}