.sectionMyMission {
    position: relative;
    padding: 150px 0;
    background-color: #EFEADF;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('../img/bg2.webp');
        background-size: cover;
    }

    @media(max-width:767px) {
        padding: 75px 0;
    }
}

.myMission {
    position: relative;
    z-index: 2;
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        display: block;
        margin: 0 auto;
        max-width: 620px;
    }

    &__img {
        margin-top: 60px;
        border-radius: 10px;

        @media(max-width:767px) {
            margin-top: 40px;
            height: 100px;
            object-fit: cover;
        }
    }

    &__txt {
        position: relative;
        text-align: center;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        max-width: 880px;
        font-family: var(--second-family);
        font-weight: 300;
        font-size: 24px;
        line-height: 128%;
        text-align: center;
        color: #2c2f26;

        @media(max-width:767px) {
            max-width: 280px;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 60px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        &::before {
            background-image: url('../img/left_q.svg');
            left: -60px;
            top: -5px;
        }

        &::after {
            background-image: url('../img/right_q.svg');
            right: -60px;
            bottom: -5px;
        }

        .bold {
            font-weight: 400;
        }

        @media(max-width:767px) {
            font-size: 16px;
        }
    }

    &__btn {
        margin-top: 40px;
    }
}