@font-face {
    font-family: "Gilroy";
    src:
        url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
        url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src:
        url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"),
        url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src:
        url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"),
        url("../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Circe";
    src:
        url("../fonts/Circe/Circe-Light.woff") format("woff"),
        url("../fonts/Circe/Circe-Light.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Circe";
    src:
        url("../fonts/Circe/Circe-Regular.woff") format("woff"),
        url("../fonts/Circe/Circe-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Alexandra";
    src:
        url("../fonts/Alexandra/alexandrazeferinoone.woff") format("woff"),
        url("../fonts/Alexandra/alexandrazeferinoone.woff2") format("woff2");
    font-weight: 400;
}